p {
  margin: 0;
}

.Dashboard {
  max-width: 480px;
  margin: 0 auto;
  padding: 12px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--background);
}

.Dashboard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dashboard_card {
  padding: 16px;
  border-radius: 24px;
  background-color: var(--bg-surface);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Dashboard_card__green {
  background-color: var(--bg-primary);
}

.Dashboard_card__secondary {
  background-color: var(--bg-secondary);
  color: var(--text-on-secondary);
}

.Card_header {
  display: flex;
  align-items: center;
}

.Card_title {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin: 0px;
}

.Dashboard_button__withIcon {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.Dashboard_button {
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 100ms all;
}

.Dashboard_button:active {
  transform: scale(0.98);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.Dashboard_button__primary {
  background-color: var(--bg-secondary);
  color: var(--text-on-secondary);
}

.Selector {
  background-color: var(--bg-surface);
  color: var(--text);
  border-radius: var(--radius-large);
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.Selector_label {
  font-size: 14px;
  font-weight: 600;
  padding: 0px 4px;
}

.Selector_caret {
  color: var(--text-muted);
  margin-left: -2px;
}

.HealthCard_content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.HealthCard_percentage {
  font-size: 28px;
  line-height: 16px;
}

.HealthCard_status {
  border-radius: var(--radius-medium);
  border: 2px solid var(--text-on-primary);
  color: var(--text-on-primary);
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.HealthCard_icon path:first-child {
  fill: var(--primary-400);
  opacity: 1;
}

.Icon__large {
  font-size: 28px !important;
}

.QuickLinks {
  width: 100%;
  display: grid;
  grid: auto / auto auto auto;
  gap: 4px;
  margin: 0px;
}

.QuickLinks_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  gap: 4px;
  padding: 8px 4px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  border-radius: var(--radius-medium);
}

.QuickLinks_item:hover {
  background-color: var(--bg-surface-hover);
}

.PriorityList {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}

.PriorityList_item {
  display: flex;
  gap: 4px;
  align-items: center;
}

.PriorityList_text {
  line-clamp: 1;
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.Text_muted {
  color: var(--text-muted);
}

.MonthlyCard_placeholder {
  background-color: var(--text-muted);
  opacity: 0.8;
  color: var(--text-on-secondary);
  height: 160px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stats {
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  gap: 4px;
  margin: 0px;
}

.Stats_card {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Stats_label {
  font-size: 14px;
}

.Stats_value {
  font-size: 24px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.5px;
}
